build
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
.vscode
*.dSYM/
*.su
build
sdkconfig
scopecmd/scopecmd
linux/test
sdkconfig.old
sdkconfig.sav
hardcopy.0
screenlog.0
capture/OscScreenGrabLAN.py.log
capture/Rigol_functions.pyc
capture/telnetlib_receive_all.pyc
capture/captures
data
